:root{
    --colorPrincipal: #540e64;
    --colorFondo: #34053e;
    --fuentePrincipal: 'Rubik', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    background-color: var(--colorPrincipal);
    font-family: var(--fuentePrincipal); 
    margin: 0;
}
.contenedor{
    max-width: 400rem;
    margin: 0 auto;
}
h1, h2, h3, h4, p, a{
    color: white;
    margin: 0;
}
h1{
    font-size: 2rem;
}
a{
    text-decoration: none;
}
.centro{
    text-align: center;
}
.logo{
    width: 25rem;
}
.navegacion{
    display: flex;
    justify-content: space-around;
    background-color: var(--colorFondo);
}
.navegacion__link{
    font-size: 2.5rem;
}
.navegacion__link--seleccion{
    color: yellow;
}
.redes__logo{
    width: 10rem;
}
.mapa{
    width: 15rem;
}
@media(min-width:768px){
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
.grid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.redes__espacio{
    margin: 0 2rem;
}
.margin-top{
    margin-top: 1.5rem;
}
ul{
    margin: 0;
    padding-left: 2rem;
    padding-top: 1rem;
}
li{
    color: white;
    list-style: none;
    font-size: 4rem;
    text-align: left;
    font-family: var(--fuentePrincipal);
}
.precio{
    text-align: center; 
    font-family: var(--fuentePrincipal); 
    font-weight:bold; 
    font-size: 3rem; 
    color: yellow; 
    margin: 0;
    text-shadow: -1px 0 var(--colorFondo), 0 1px var(--colorFondo), 1px 0 var(--colorFondo), 0 -1px var(--colorFondo), -2px 2px 0 var(--colorFondo), 2px 2px 0 var(--colorFondo), 1px 1px var(--colorFondo), 2px 2px var(--colorFondo), 3px 3px var(--colorFondo), 4px 4px var(--colorFondo), 5px 5px var(--colorFondo);
}
.precio2{
    text-align: center; 
    font-family: var(--fuentePrincipal); 
    font-weight:bold; 
    font-size: 1.5rem; 
    color: yellow; 
    margin: 0;
    text-shadow: -1px 0 var(--colorFondo), 0 1px var(--colorFondo), 1px 0 var(--colorFondo), 0 -1px var(--colorFondo), -2px 2px 0 var(--colorFondo), 2px 2px 0 var(--colorFondo), 1px 1px var(--colorFondo), 2px 2px var(--colorFondo), 3px 3px var(--colorFondo), 4px 4px var(--colorFondo), 5px 5px var(--colorFondo);
}
.bola1{
    width: 20rem;
}
.izqui{
    text-align: left;
}
.dere{
    text-align: right;
}
.ordenarmenu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.li-chica{
    font-size: 2rem;
}
.g1{
    width: 90%;
    margin-left: 2rem;
}
.g2{
    width: 90%;
    margin-left: 2rem;
}
.g3{
    width: 90%;
    margin-left: 2rem;
}
.g4{
    width: 90%;
    margin-left: 2rem;
}
p{
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.8rem;
}
.caja{
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid var(--colorFondo);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}